@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;500;600&family=Open+Sans:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif Bengali", serif;
  font-family: "Open Sans", sans-serif;
}

/* Layout styles start */
/* Sidebar */
.site-layout {
  overflow: auto;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
}
.hideOnDesktop {
  display: block;
}
.hideOnMobile {
  display: none;
}
.drawer-layout {
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
}

/* Content */
.content-layout {
  min-height: 100vh;
  color: black;
  padding: 1rem;
}

/* Header */
.header-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
._d-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px;
}
/* Layout styles end */

@media only screen and (min-width: 768px) {
  .hideOnMobile {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .hideOnDesktop {
    display: none;
  }
}
